main {
  margin: 10%;
}

.axis-grid line {
  stroke: rgb(237, 235, 235);
}

svg {
}


button {
  display: block;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(132, 230, 252);
  margin-left: 450px;
}